* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Cairo', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #3498db;
}
.container {
    height: 265px;
    width: 410px;
    background: #fff;
    border-radius: 7px;
    padding: 20px 25px 0;
    transition: height .2s ease;
    box-shadow: 0 10px 30px rgb(0 0 0 / 10%);
}
.container h1 {
    font-size: 21px;
    font-weight: 500;
}
.container p {
    margin-top: 5px;
    color: #575757;
    font-size: 16px;
}
.container input {
    display: block;
    width: 95%;
    padding: 15px 10px;
    margin-top: 20px;
    border: none;
    outline: none;
    border: solid #575757 1px;
    border-radius: 5px;
    font-size: 17px;
    font-weight: bold;
    margin-right: auto;
    margin-left: auto;
}
form input:focus {
    box-shadow: 0 3px 6px rgb(0 0 0 / 13%);
}
.container button {
    background-color: #3498db;
    width: 95%;
    padding: 20px 0;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    color: #fff;
    cursor: pointer;
    text-transform: capitalize;
    font-weight: bold;
    display: block;
}
.active {
    height: 565px;
}
.active img {
    width: 170px;
    display: block;
    margin: 60px auto;
}